<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Mazyl_Inpost::inpost" sortOrder="10" title="inpost">
					<resource id="Mazyl_Inpost::packages_index" sortOrder="10" title="packages index"/>
					<resource id="Mazyl_Inpost::packages_edit" sortOrder="10" title="packages edit"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
